<h1>Locations</h1>
<hr>

<figure id="map"></figure>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/places-map-setup.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNNcG0dLiqGARaT-_WLvmdys7jHQF5oPw&callback=initMap"></script>
